extends layout

block content
	div#coverback
		h1(align='center').coverhead Kempton Apartments &nbsp;&nbsp;
		br
		br
		.row 
			a(href='/tenant').coverbody Tenant
			a(href='/apartment').coverbody Apartments