extends layout

block content
  h1(align='center') Tenant List&nbsp;&nbsp;
    a.btn.btn-success.btn-circle(href='/apartment/makeEntry') Add
    a.btn.btn-success.btn-circle(href='/') cover
  table.table-striped
    thead
    tbody.items-list
    script(src='javascripts/main.js')
  div.bottom